.App {
    display: flex;
    height: 100vh;
    min-height: 500px;
    background-color: $app-background;
    * {
        box-sizing: border-box;
    }
}

.emoji-mart{
    * {
        outline: none;
    }
}