.button{
    // &input[type='submit']{
        border: 1px solid;
        background: #ffffff;
        color: #000000;
        padding: .5em 1em;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
        outline: 0;
    // }

    &.primary{
        border: none;
        background: #6dabe4;
        color: white;
    }
}