$margin: 10px;
.conversation-input-box{
    min-height: $message-input-min-height - $margin * 2;
    margin: $margin;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    .input{
        min-height: 1em;
        max-height: $message-input-min-height * 2;
        overflow-y: scroll;
        outline: 0;
        padding: 5px; 
        flex: 1;
        border-left: 1px solid rgba(0,0,0,0.1);
        &:before {
            content: "Start typing here";
            opacity: .2;
            // position: absolute;
        }
        &:not(:empty):before{
            display: none;
        }
    }
    .fa, .far{
        cursor: pointer;
        font-size: 1.6em;
        color: #727B8A;
        &:hover{
            color: $primary-blue;
        }
    }
    > .fa-plus{
        margin-right: 5px;
    }
}