.conversation-list{
    width: 300px;
    margin: 15px 0px;
    padding: 0px 15px;
    overflow-y: scroll;
    .conversation{
        display: flex;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        margin: 2px 0px;
        justify-content: space-between;
        &:hover{
            background-color: #DFE4EA;
        }
        .user-icon{
            // width: 40px;
            // margin: 0px;
            // margin-right: 10px;
        }
        .user-name-message-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .last-message{
                font-size: .86em;
                padding-top: 2px;
            }
        }
        .user-status-box{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .last-message-time{
                font-size: .7em;
            }
            .status{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 20px;
                &.online{
                    background-color: green;
                }
                &.offline{
                    background-color: grey;
                }
            }
        }
    }
}

.search-box{
    background-color: white;
    border-radius: 4px;
    height: 40px;
    box-shadow: 0px 1px 6px #{$box-shadow-color};
    position: sticky;
    top: 0;
    padding: 7px;
    .search-input{
        width: calc(100% - 25px);
        height: calc(100%);
        border: 0;
        outline: 0;
        font-size: 1em;
    }
    .fa-search{
        color: #727B8A;
    }
}