* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f8f8f8;
    margin: 0;
    font-size: 16px;
}

a {
    color: #0366d6;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
a:active, a:hover {
    outline-width: 0;
}
